<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EargoSuite" verbose="10" configfailurepolicy="skip">

	<listeners>
		<listener class-name="com.eargo.automation.runner.TestListener" />
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="com.eargo.automation.runner.TestRunner" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- EargoSuite -->
